Repository oekazuma/svelte-meta-tags: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm lint, pnpm check

.lintstagedrc:

{
  "*.{js,ts,cjs,svelte,md,html,css,json,yml,yaml}": "pnpm format",
  "*.{js,ts,svelte}": ["pnpm lint", "pnpm check"]
}

chore: fix to include README.md as a release target at the time of release (#811)
  .changeset/perfect-emus-decide.md
  packages/svelte-meta-tags/CHANGELOG.md
  packages/svelte-meta-tags/package.json
Due: pnpm format

chore: modified to include README.md as a release target at release time, Again
  .changeset/slow-bears-search.md
  packages/svelte-meta-tags/package.json
Due: pnpm format

chore: modified to include README.md as a release target at release time, Again (#813)
  .changeset/slow-bears-search.md
  packages/svelte-meta-tags/package.json
Due: pnpm format

chore: fix version
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: pnpm format

fix: additionalMetaTags types
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
Due: pnpm format, pnpm lint, pnpm check

chore: update node 18.18.0
  .github/workflows/ci.yml
  .npmrc
  package.json
  packages/svelte-meta-tags/package.json
  pnpm-lock.yaml
  tests/svelte-3/package.json
  tests/svelte-4/package.json
Due: pnpm format

chore: fix
  .github/workflows/release.yml
Due: pnpm format

chore: update node 18.18.0 (#839)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .npmrc
  package.json
  packages/svelte-meta-tags/package.json
  pnpm-lock.yaml
  tests/svelte-3/package.json
  tests/svelte-4/package.json
Due: pnpm format

add changeset
  .changeset/chilled-cameras-count.md
Due: pnpm format

fix: additionalMetaTags types (#835)
  .changeset/chilled-cameras-count.md
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
Due: pnpm format, pnpm lint, pnpm check

test: Improved flaky testing
  packages/svelte-meta-tags/package.json
  pnpm-lock.yaml
  renovate.json
  tests/svelte-3/package.json
  tests/svelte-3/tests/robotsAnother.test.ts
  tests/svelte-4/package.json
  tests/svelte-4/playwright.config.ts
  tests/svelte-4/tests/robotsAnother.test.ts
Due: pnpm format, pnpm lint, pnpm check

format
  tests/svelte-3/tests/robotsAnother.test.ts
  tests/svelte-4/tests/robotsAnother.test.ts
Due: pnpm format, pnpm lint, pnpm check

test: Improved flaky testing (#841)
  packages/svelte-meta-tags/package.json
  pnpm-lock.yaml
  renovate.json
  tests/svelte-3/package.json
  tests/svelte-3/tests/robotsAnother.test.ts
  tests/svelte-4/package.json
  tests/svelte-4/playwright.config.ts
  tests/svelte-4/tests/robotsAnother.test.ts
Due: pnpm format, pnpm lint, pnpm check

chore(deps): update devdependencies
  pnpm-lock.yaml
  tests/svelte-3/package.json
  tests/svelte-4/package.json
Due: pnpm format

test: fix
  package.json
  packages/svelte-meta-tags/package.json
  pnpm-lock.yaml
  tests/svelte-3/package.json
  tests/svelte-3/playwright.config.ts
  tests/svelte-4/package.json
  tests/svelte-4/playwright.config.ts
Due: pnpm format, pnpm lint, pnpm check

chore: update dependency @playwright/test to ^1.39.0
  pnpm-lock.yaml
  tests/svelte-3/package.json
  tests/svelte-3/playwright.config.ts
  tests/svelte-4/package.json
  tests/svelte-4/playwright.config.ts
Due: pnpm format, pnpm lint, pnpm check

Revert "chore: update dependency @playwright/test to ^1.39.0"
  pnpm-lock.yaml
  tests/svelte-3/package.json
  tests/svelte-3/playwright.config.ts
  tests/svelte-4/package.json
  tests/svelte-4/playwright.config.ts
Due: pnpm format, pnpm lint, pnpm check

chore: update dependency @playwright/test to ^1.39.0
  pnpm-lock.yaml
  tests/svelte-3/package.json
  tests/svelte-4/package.json
Due: pnpm format

chore: update dependency @playwright/test to ^1.39.0
  tests/svelte-3/playwright.config.ts
  tests/svelte-4/playwright.config.ts
Due: pnpm format, pnpm lint, pnpm check

chore: update dependency @playwright/test to ^1.39.0 (#854)
  pnpm-lock.yaml
  tests/svelte-3/package.json
  tests/svelte-3/playwright.config.ts
  tests/svelte-4/package.json
  tests/svelte-4/playwright.config.ts
Due: pnpm format, pnpm lint, pnpm check

chore(deps): update devdependencies
  package.json
  pnpm-lock.yaml
  tests/svelte-3/package.json
Due: pnpm format

chore: update dependency
  packages/svelte-meta-tags/package.json
  pnpm-lock.yaml
  tests/svelte-3/package.json
  tests/svelte-4/package.json
Due: pnpm format

feat: add support to keywords meta tag
  README.md
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
  packages/svelte-meta-tags/src/lib/types.d.ts
  tests/svelte-3/src/routes/+page.svelte
  tests/svelte-3/tests/normal.test.ts
  tests/svelte-4/src/routes/+page.svelte
  tests/svelte-4/tests/normal.test.ts
Due: pnpm format, pnpm lint, pnpm check

Add changeset
  .changeset/five-badgers-shave.md
Due: pnpm format

fix: formatting
  README.md
Due: pnpm format

feat: add support to keywords meta tag (#872)
  .changeset/five-badgers-shave.md
  README.md
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
  packages/svelte-meta-tags/src/lib/types.d.ts
  tests/svelte-3/src/routes/+page.svelte
  tests/svelte-3/tests/normal.test.ts
  tests/svelte-4/src/routes/+page.svelte
  tests/svelte-4/tests/normal.test.ts
Due: pnpm format, pnpm lint, pnpm check

chore: fix README.md
  README.md
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
Due: pnpm format, pnpm lint, pnpm check

chore: fix
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .npmrc
  package.json
Due: pnpm format

chore: update @playwright/test
  pnpm-lock.yaml
  tests/svelte-3/package.json
  tests/svelte-4/package.json
Due: pnpm format

chore: cleanup
  .npmrc
Due: none

chore(deps): update devDependencies
  packages/svelte-meta-tags/package.json
  pnpm-lock.yaml
  tests/svelte-3/package.json
  tests/svelte-4/package.json
Due: pnpm format

chore(deps): update devDependencies (#901)
  packages/svelte-meta-tags/package.json
  pnpm-lock.yaml
  tests/svelte-3/package.json
  tests/svelte-4/package.json
Due: pnpm format

docs: add more practical examples
  README.md
  example/README.md
  example/package.json
  example/src/app.d.ts
  example/src/app.html
  example/src/routes/+layout.svelte
  example/src/routes/+layout.ts
  example/src/routes/+page.svelte
  example/src/routes/+page.ts
  example/src/routes/about/+page.svelte
  example/src/routes/about/+page.ts
  example/static/favicon.png
  example/svelte.config.js
  example/tsconfig.json
  example/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm format, pnpm lint, pnpm check

update: migration to SvelteKit 2
  README.md
  example/src/routes/+page.svelte
  example/src/routes/about/+page.svelte
  example/vite.config.ts
  packages/svelte-meta-tags/package.json
  packages/svelte-meta-tags/svelte.config.js
  renovate.json
  tests/svelte-3/package.json
  tests/svelte-4/package.json
  tests/svelte-4/svelte.config.js
Due: pnpm format, pnpm lint, pnpm check

fix: pnpm-lock.yaml
  pnpm-lock.yaml
Due: pnpm format

docs: update comment
  example/src/routes/+layout.svelte
Due: pnpm format, pnpm lint, pnpm check

docs: add more practical examples (#913)
  README.md
  example/README.md
  example/package.json
  example/src/app.d.ts
  example/src/app.html
  example/src/routes/+layout.svelte
  example/src/routes/+layout.ts
  example/src/routes/+page.svelte
  example/src/routes/+page.ts
  example/src/routes/about/+page.svelte
  example/src/routes/about/+page.ts
  example/static/favicon.png
  example/svelte.config.js
  example/tsconfig.json
  example/vite.config.ts
  packages/svelte-meta-tags/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json
  tests/svelte-3/package.json
  tests/svelte-4/svelte.config.js
Due: pnpm format, pnpm lint, pnpm check

fix: renovate.json
  renovate.json
Due: pnpm format

chore: cleanup
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .npmrc
  .prettierignore
  example/package.json
  example/src/routes/about/+page.svelte
Due: pnpm format, pnpm lint, pnpm check

chore(deps): update devDependencie
  pnpm-lock.yaml
  tests/svelte-3/package.json
  tests/svelte-4/package.json
Due: pnpm format
