Repository oekazuma/svelte-meta-tags: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm lint, pnpm check

.lintstagedrc:

{
  "*.{js,ts,cjs,svelte,md,html,css,json,yml,yaml}": "pnpm format",
  "*.{js,ts,svelte}": ["pnpm lint", "pnpm check"]
}

fix: make companion skill snippets individually valid, use js fence in setup skill
  skills/svelte-meta-tags-companion/SKILL.md
  skills/svelte-meta-tags-setup/SKILL.md
Due: pnpm format

feat: distribute svelte-meta-tags via Agent Skills (npx skills) (#2171)
  .prettierignore
  AGENTS.md
  docs/content/guides/agent-skills.md
  docs/content/guides/meta.ts
  docs/content/ja/guides/agent-skills.md
  docs/content/ja/guides/meta.ts
  package.json
  scripts/validate-skills.mjs
  skills/svelte-meta-tags-companion/SKILL.md
  skills/svelte-meta-tags-setup/SKILL.md
Due: pnpm format, pnpm lint, pnpm check

docs: prune duplicated meaning from Agent Skills (description/body overlap, cross-skill repetition)
  skills/svelte-meta-tags-companion/SKILL.md
  skills/svelte-meta-tags-setup/SKILL.md
Due: pnpm format

docs: prune duplicated meaning from Agent Skills (description/body overlap, cross-skill repetition) (#2173)
  skills/svelte-meta-tags-companion/SKILL.md
  skills/svelte-meta-tags-setup/SKILL.md
Due: pnpm format

chore: remove minimumReleaseAgeExclude section from pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: pnpm format

chore: enable sharp builds in pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: pnpm format

docs: mention @sv-addon/svelte-meta-tags community add-on in quickstart
  docs/content/ja/quickstart.mdx
  docs/content/quickstart.mdx
Due: none

docs: clarify sv add scope and add community add-on caveat
  docs/content/ja/quickstart.mdx
  docs/content/quickstart.mdx
Due: none

docs: mention @sv-addon/svelte-meta-tags community add-on in quickstart (#2184)
  docs/content/ja/quickstart.mdx
  docs/content/quickstart.mdx
Due: none

chore: auto-merge non-major renovate updates
  renovate.json
Due: pnpm format

chore: auto-merge non-major renovate updates (#2185)
  renovate.json
Due: pnpm format

chore: exclude schema-dts from renovate automerge
  renovate.json
Due: pnpm format

chore: exclude schema-dts from renovate automerge (#2186)
  renovate.json
Due: pnpm format

ci: run svelte-kit sync before playwright test
  tests/svelte-5/package.json
Due: pnpm format

ci: run svelte-kit sync before playwright test (#2190)
  tests/svelte-5/package.json
Due: pnpm format

chore: remove feedback option from blume configuration
  docs/blume.config.ts
Due: pnpm format, pnpm lint, pnpm check

test: assert MetaTags and JsonLd output in-process with svelte/server
  AGENTS.md
  packages/svelte-meta-tags/tests/helpers/head.ts
  packages/svelte-meta-tags/tests/jsonLd/jsonLd.test.ts
  packages/svelte-meta-tags/tests/metaTags/additionalTags.test.ts
  packages/svelte-meta-tags/tests/metaTags/openGraph.test.ts
  packages/svelte-meta-tags/tests/metaTags/openGraphType.test.ts
  packages/svelte-meta-tags/tests/metaTags/robots.test.ts
  packages/svelte-meta-tags/tests/metaTags/title.test.ts
  packages/svelte-meta-tags/tests/metaTags/twitter.test.ts
Due: pnpm format, pnpm lint, pnpm check

refactor: extract robots serialization into its own module
  AGENTS.md
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
  packages/svelte-meta-tags/src/lib/robots.ts
  packages/svelte-meta-tags/tests/robots/robots.test.ts
Due: pnpm format, pnpm lint, pnpm check

docs: add changeset and document the two-layer test strategy
  .changeset/lucky-donkeys-shave.md
  CONTRIBUTING.md
  packages/svelte-meta-tags/tests/index/index.test.ts
Due: pnpm format, pnpm lint, pnpm check

perf: build the robots string in a loop, and add render benchmarks
  packages/svelte-meta-tags/src/lib/robots.ts
  packages/svelte-meta-tags/tests/metaTags/render.bench.ts
  packages/svelte-meta-tags/tests/robots/robots.bench.ts
Due: pnpm format, pnpm lint, pnpm check

chore(deps): add changesets group to renovate configuration
  renovate.json
Due: pnpm format

chore(deps): fix formatting in changesets group in renovate configuration
  renovate.json
Due: pnpm format

fix(deps): deny @scarf/scarf build script to fix pnpm install failure
  pnpm-workspace.yaml
Due: pnpm format

chore(deps): adapt release workflow to changesets/action v2
  .changeset/config.json
  .github/workflows/release.yml
Due: pnpm format

docs: drop stale note about vendored skills in --list output
  docs/content/guides/agent-skills.md
  docs/content/ja/guides/agent-skills.md
Due: pnpm format

docs: drop stale note about vendored skills in --list output (#2222)
  docs/content/guides/agent-skills.md
  docs/content/ja/guides/agent-skills.md
Due: pnpm format

docs: cover the install step and the silent no-ops in the Agent Skills
  skills/svelte-meta-tags-companion/SKILL.md
  skills/svelte-meta-tags-setup/SKILL.md
Due: pnpm format

docs: pick the install command from the lockfile before running one
  skills/svelte-meta-tags-companion/SKILL.md
  skills/svelte-meta-tags-setup/SKILL.md
Due: pnpm format

docs: document that og and twitter tags need their prop, and that falsy robots directives drop
  docs/content/ja/meta-tags-properties/additional-robots-props.md
  docs/content/ja/meta-tags-properties/twitter.md
  docs/content/ja/open-graph/basic.md
  docs/content/meta-tags-properties/additional-robots-props.md
  docs/content/meta-tags-properties/twitter.md
  docs/content/open-graph/basic.md
Due: pnpm format

docs: cover the no-lockfile case and the both-nullish deepMerge result
  skills/svelte-meta-tags-companion/SKILL.md
  skills/svelte-meta-tags-setup/SKILL.md
Due: pnpm format

docs: document that og and twitter tags need their prop, and that falsy robots directives drop (#2232)
  docs/content/ja/meta-tags-properties/additional-robots-props.md
  docs/content/ja/meta-tags-properties/twitter.md
  docs/content/ja/open-graph/basic.md
  docs/content/meta-tags-properties/additional-robots-props.md
  docs/content/meta-tags-properties/twitter.md
  docs/content/open-graph/basic.md
Due: pnpm format

docs: cover the install step and the silent no-ops in the Agent Skills (#2231)
  skills/svelte-meta-tags-companion/SKILL.md
  skills/svelte-meta-tags-setup/SKILL.md
Due: pnpm format

docs: fix stale facts in AGENTS.md and the Agent Skills
  AGENTS.md
  skills/svelte-meta-tags-companion/SKILL.md
  skills/svelte-meta-tags-setup/SKILL.md
Due: pnpm format

chore: reject multi-line frontmatter fields in validate-skills
  scripts/validate-skills.mjs
Due: none

docs: fix stale facts in AGENTS.md and the Agent Skills (#2240)
  AGENTS.md
  scripts/validate-skills.mjs
  skills/svelte-meta-tags-companion/SKILL.md
  skills/svelte-meta-tags-setup/SKILL.md
Due: pnpm format

ci: replace pnpm/action-setup + actions/setup-node with pnpm/setup
  .github/workflows/release.yml
  .github/workflows/setup-node/action.yml
Due: pnpm format

ci: replace pnpm/action-setup + actions/setup-node with pnpm/setup (#2247)
  .github/workflows/release.yml
  .github/workflows/setup-node/action.yml
Due: pnpm format

chore: migrate benchmarks to the Vitest 5 bench fixture
  packages/svelte-meta-tags/tests/deepMerge/deepMerge.bench.ts
Due: pnpm format, pnpm lint, pnpm check
