Repository oekazuma/svelte-meta-tags: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm lint, pnpm check

docs: use GitHub social preview image as the top page's OG image
  docs/content/index.mdx
  docs/content/ja/index.mdx
  docs/public/social-preview.png
Due: none

docs: restructure Migration Guide headings for clarity (#2153)
  docs/content/ja/migration-guide.md
  docs/content/migration-guide.md
Due: pnpm format

docs: use GitHub social preview image as the top page's OG image (#2154)
  docs/content/index.mdx
  docs/content/ja/index.mdx
  docs/public/social-preview.png
Due: none

chore(docs): update blume to v1.1.2 and dedupe sidebar order values
  docs/content/ja/meta-tags-properties/meta.ts
  docs/content/ja/migration-guide.md
  docs/content/ja/types/meta.ts
  docs/content/ja/usage.mdx
  docs/content/json-ld/meta.$.ts
  docs/content/meta-tags-properties/meta.ts
  docs/content/migration-guide.md
  docs/content/open-graph/meta.$.ts
  docs/content/types/meta.ts
  docs/content/usage.mdx
  docs/content/utilities/meta.$.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm format, pnpm lint, pnpm check

chore(docs): update blume to v1.1.2 and dedupe sidebar order values (#2157)
  docs/content/ja/meta-tags-properties/meta.ts
  docs/content/ja/migration-guide.md
  docs/content/ja/types/meta.ts
  docs/content/ja/usage.mdx
  docs/content/json-ld/meta.$.ts
  docs/content/meta-tags-properties/meta.ts
  docs/content/migration-guide.md
  docs/content/open-graph/meta.$.ts
  docs/content/types/meta.ts
  docs/content/usage.mdx
  docs/content/utilities/meta.$.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm format, pnpm lint, pnpm check

test: lock in deepMerge Date/function precedence and prototype pollution characterization
  packages/svelte-meta-tags/tests/deepMerge/deepMerge.test.ts
Due: pnpm format, pnpm lint, pnpm check

fix: harden deepMerge against __proto__/constructor/prototype source keys
  .changeset/deepmerge-proto-hardening.md
  packages/svelte-meta-tags/src/lib/deepMerge.ts
Due: pnpm format, pnpm lint, pnpm check

docs: sync AGENTS.md docs-site section with the blume migration
  AGENTS.md
Due: pnpm format

docs: add install and usage sections to the npm README
  README.md
Due: pnpm format

test: fix e2e gaps and add coverage for body JSON-LD, robots, video.other
  tests/svelte-5/src/routes/additionalRobots/+page.svelte
  tests/svelte-5/src/routes/jsonldEmpty/+page.svelte
  tests/svelte-5/src/routes/videoOther/+page.svelte
  tests/svelte-5/tests/additionalRobots.test.ts
  tests/svelte-5/tests/jsonLdBody.test.ts
  tests/svelte-5/tests/jsonLdEmpty.test.ts
  tests/svelte-5/tests/normal.test.ts
  tests/svelte-5/tests/videoOther.test.ts
Due: pnpm format, pnpm lint, pnpm check

docs: fix inaccurate additionalMetaTags dedup claim and deepMerge arity
  docs/content/ja/meta-tags-properties/additional-meta-tags.md
  docs/content/ja/migration-guide.md
  docs/content/meta-tags-properties/additional-meta-tags.md
  docs/content/migration-guide.md
Due: pnpm format

docs: document CI quality gates in CONTRIBUTING and add .editorconfig
  .editorconfig
  CONTRIBUTING.md
Due: pnpm format

ci: streamline test job build and drop dead husky path-ignore
  .github/workflows/ci.yml
Due: pnpm format

ci: run chromium-only on pull requests, full browser matrix on push
  tests/svelte-5/playwright.config.ts
Due: pnpm format, pnpm lint, pnpm check

fix: escape < in JSON-LD output to prevent script tag breakout
  .changeset/jsonld-escape-lt.md
  packages/svelte-meta-tags/src/lib/JsonLd.svelte
  tests/svelte-5/src/routes/jsonldEscape/+page.svelte
  tests/svelte-5/tests/jsonLdEscape.test.ts
Due: pnpm format, pnpm lint, pnpm check

fix: literal titleTemplate replacement and guard fb:app_id on missing appId
  .changeset/metatags-small-fixes.md
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
  tests/svelte-5/src/routes/facebookNoAppId/+page.svelte
  tests/svelte-5/src/routes/titleTemplateSpecialChars/+page.svelte
  tests/svelte-5/tests/facebookNoAppId.test.ts
  tests/svelte-5/tests/titleTemplateSpecialChars.test.ts
Due: pnpm format, pnpm lint, pnpm check

test: fix e2e gaps and add coverage for body JSON-LD, robots, video.other (#2158)
  tests/svelte-5/src/routes/additionalRobots/+page.svelte
  tests/svelte-5/src/routes/jsonldEmpty/+page.svelte
  tests/svelte-5/src/routes/videoOther/+page.svelte
  tests/svelte-5/tests/additionalRobots.test.ts
  tests/svelte-5/tests/jsonLdBody.test.ts
  tests/svelte-5/tests/jsonLdEmpty.test.ts
  tests/svelte-5/tests/normal.test.ts
  tests/svelte-5/tests/videoOther.test.ts
Due: pnpm format, pnpm lint, pnpm check

fix: harden deepMerge against __proto__/constructor/prototype source keys (#2159)
  .changeset/deepmerge-proto-hardening.md
  packages/svelte-meta-tags/src/lib/deepMerge.ts
  packages/svelte-meta-tags/tests/deepMerge/deepMerge.test.ts
Due: pnpm format, pnpm lint, pnpm check

docs: fix changeset wording and shorten JsonLd.svelte line length
  .changeset/jsonld-escape-lt.md
  packages/svelte-meta-tags/src/lib/JsonLd.svelte
Due: pnpm format, pnpm lint, pnpm check

fix: escape JSON-LD output so schema values cannot break out of the script tag (#2160)
  .changeset/jsonld-escape-lt.md
  packages/svelte-meta-tags/src/lib/JsonLd.svelte
  tests/svelte-5/src/routes/jsonldEscape/+page.svelte
  tests/svelte-5/tests/jsonLdEscape.test.ts
Due: pnpm format, pnpm lint, pnpm check

fix: literal titleTemplate replacement and guard fb:app_id on missing appId (#2161)
  .changeset/metatags-small-fixes.md
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
  tests/svelte-5/src/routes/facebookNoAppId/+page.svelte
  tests/svelte-5/src/routes/titleTemplateSpecialChars/+page.svelte
  tests/svelte-5/tests/facebookNoAppId.test.ts
  tests/svelte-5/tests/titleTemplateSpecialChars.test.ts
Due: pnpm format, pnpm lint, pnpm check

docs: scope the deepMerge dedup claim to cross-layer merges only
  docs/content/ja/meta-tags-properties/additional-meta-tags.md
  docs/content/meta-tags-properties/additional-meta-tags.md
Due: pnpm format

docs: fix additionalMetaTags dedup claim and deepMerge argument count (#2162)
  docs/content/ja/meta-tags-properties/additional-meta-tags.md
  docs/content/ja/migration-guide.md
  docs/content/meta-tags-properties/additional-meta-tags.md
  docs/content/migration-guide.md
Due: pnpm format

docs: sync AGENTS.md docs-site section with the blume migration (#2163)
  AGENTS.md
Due: pnpm format

docs: give the published package its own README instead of copying the repo README
  packages/svelte-meta-tags/README.md
  packages/svelte-meta-tags/package.json
Due: pnpm format

ci: streamline test job build and drop dead husky path-ignore (#2165)
  .github/workflows/ci.yml
Due: pnpm format

ci: run chromium-only on pull requests, full browser matrix on push (#2166)
  tests/svelte-5/playwright.config.ts
Due: pnpm format, pnpm lint, pnpm check

docs: document CI quality gates in CONTRIBUTING and add .editorconfig (#2167)
  .editorconfig
  CONTRIBUTING.md
Due: pnpm format

docs: give the published package its own README instead of copying the repo README (#2170)
  packages/svelte-meta-tags/README.md
  packages/svelte-meta-tags/package.json
Due: pnpm format

chore: add skills/ frontmatter validation script
  package.json
  scripts/validate-skills.mjs
Due: pnpm format

chore: exclude .superpowers/ scratch directory from prettier
  .prettierignore
Due: none

feat: add svelte-meta-tags-setup agent skill
  skills/svelte-meta-tags-setup/SKILL.md
Due: pnpm format

feat: add svelte-meta-tags-companion agent skill
  skills/svelte-meta-tags-companion/SKILL.md
Due: pnpm format

fix: correct deepMerge nested-object example in companion skill
  skills/svelte-meta-tags-companion/SKILL.md
Due: pnpm format

docs: add Agent Skills guide (en)
  docs/content/guides/agent-skills.md
  docs/content/guides/meta.ts
Due: pnpm format, pnpm lint, pnpm check

docs: add Agent Skills guide (ja)
  docs/content/ja/guides/agent-skills.md
  docs/content/ja/guides/meta.ts
Due: pnpm format, pnpm lint, pnpm check

docs: document Agent Skills maintenance policy in AGENTS.md
  AGENTS.md
Due: pnpm format

fix: address final review wording findings (phrasing, ja typography, install instructions)
  docs/content/guides/agent-skills.md
  docs/content/ja/guides/agent-skills.md
  skills/svelte-meta-tags-setup/SKILL.md
Due: pnpm format

fix: handle CRLF line endings in skill frontmatter parsing
  scripts/validate-skills.mjs
Due: none

fix: address review findings on Agent Skills
  .prettierignore
  docs/content/guides/agent-skills.md
  docs/content/ja/guides/agent-skills.md
  scripts/validate-skills.mjs
  skills/svelte-meta-tags-companion/SKILL.md
  skills/svelte-meta-tags-setup/SKILL.md
Due: pnpm format

Path conditions:
  pnpm format: any of: *.{js,ts,cjs,svelte,md,html,css,json,yml,yaml}
  pnpm lint: any of: *.{js,ts,svelte}
  pnpm check: any of: *.{js,ts,svelte}
