Repository oekazuma/svelte-meta-tags: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm lint, pnpm check

feat: introduce define helpers
  docs/src/content/docs/deep-merge-function/index.md
  docs/src/content/docs/usage/index.mdx
  packages/svelte-meta-tags/src/lib/define.ts
  packages/svelte-meta-tags/src/lib/index.ts
Due: pnpm format, pnpm lint, pnpm check

add changeset
  .changeset/hip-spoons-stare.md
Due: pnpm format

small fixes
  docs/src/content/docs/usage/index.mdx
  packages/svelte-meta-tags/src/lib/define.ts
Due: pnpm format, pnpm lint, pnpm check

follow up
  docs/src/content/docs/ja/deep-merge-function/index.md
  docs/src/content/docs/ja/usage/index.mdx
  packages/svelte-meta-tags/src/lib/define.ts
  packages/svelte-meta-tags/tests/define/define.test.ts
Due: pnpm format, pnpm lint, pnpm check

feat: enhance define functions with improved documentation and examples
  docs/src/content/docs/ja/usage/index.mdx
  packages/svelte-meta-tags/src/lib/define.ts
  packages/svelte-meta-tags/tests/define/define.test.ts
Due: pnpm format, pnpm lint, pnpm check

feat: add tests for merging meta tags and preserving wrapper functionality
  packages/svelte-meta-tags/tests/define/define.test.ts
Due: pnpm format, pnpm lint, pnpm check

feat: improve documentation and encapsulation for meta tags functions
  packages/svelte-meta-tags/src/lib/define.ts
Due: pnpm format, pnpm lint, pnpm check

fix: clean up formatting and improve readability in define functions and tests
  packages/svelte-meta-tags/src/lib/define.ts
  packages/svelte-meta-tags/tests/define/define.test.ts
Due: pnpm format, pnpm lint, pnpm check

docs: enhance documentation for define functions to clarify props usage in merging meta tags
  packages/svelte-meta-tags/src/lib/define.ts
Due: pnpm format, pnpm lint, pnpm check

test: add tests for spreading wrapper and enforcing immutability of props
  packages/svelte-meta-tags/tests/define/define.test.ts
Due: pnpm format, pnpm lint, pnpm check

feat: enhance define functions to improve compatibility with spreading wrappers
  packages/svelte-meta-tags/src/lib/define.ts
  packages/svelte-meta-tags/tests/define/define.test.ts
Due: pnpm format, pnpm lint, pnpm check

test: refactor tests for defineBaseMetaTags and definePageMetaTags for clarity and consistency
  packages/svelte-meta-tags/tests/define/define.test.ts
Due: pnpm format, pnpm lint, pnpm check

feat: add defineBaseMetaTags and definePageMetaTags functions for meta tags management
  packages/svelte-meta-tags/src/lib/define.d.ts
Due: pnpm format, pnpm lint, pnpm check

add back examples
  packages/svelte-meta-tags/src/lib/define.ts
Due: pnpm format, pnpm lint, pnpm check

attempt inline typing
  packages/svelte-meta-tags/src/lib/define.d.ts
  packages/svelte-meta-tags/src/lib/define.ts
Due: pnpm format, pnpm lint, pnpm check

fix example
  packages/svelte-meta-tags/src/lib/define.ts
Due: pnpm format, pnpm lint, pnpm check

update docs and example
  docs/src/content/docs/deep-merge-function/index.md
  docs/src/content/docs/ja/deep-merge-function/index.md
  docs/src/content/docs/ja/usage/index.mdx
  docs/src/content/docs/usage/index.mdx
  example/src/routes/+layout.ts
  example/src/routes/+page.ts
  example/src/routes/about/+page.ts
Due: pnpm format, pnpm lint, pnpm check

docs: add clarification for canonical URL generation in meta tags
  docs/src/content/docs/ja/deep-merge-function/index.md
  docs/src/content/docs/ja/usage/index.mdx
Due: pnpm format

refactor: rename baseMetaTags and pageMetaTags variables for consistency
  docs/src/content/docs/deep-merge-function/index.md
  docs/src/content/docs/ja/deep-merge-function/index.md
  docs/src/content/docs/ja/usage/index.mdx
  docs/src/content/docs/usage/index.mdx
  example/src/routes/+layout.ts
  example/src/routes/+page.ts
  example/src/routes/about/+page.ts
Due: pnpm format, pnpm lint, pnpm check

lying to TypeScript
  packages/svelte-meta-tags/src/lib/define.ts
Due: pnpm format, pnpm lint, pnpm check

return baseMetaTags and pageMetaTags directly, removing props
  docs/src/content/docs/deep-merge-function/index.md
  docs/src/content/docs/ja/deep-merge-function/index.md
  docs/src/content/docs/ja/usage/index.mdx
  docs/src/content/docs/usage/index.mdx
  example/src/routes/+layout.ts
  example/src/routes/+page.ts
  example/src/routes/about/+page.ts
  packages/svelte-meta-tags/src/lib/define.ts
  packages/svelte-meta-tags/tests/define/define.test.ts
Due: pnpm format, pnpm lint, pnpm check

test: clarify that freeze is shallow for nested objects in defineBaseMetaTags
  packages/svelte-meta-tags/tests/define/define.test.ts
Due: pnpm format, pnpm lint, pnpm check

keep frozen object inside baseMetaTags property to avoid manual typing and allow spreading
  packages/svelte-meta-tags/src/lib/define.ts
  packages/svelte-meta-tags/src/lib/types.d.ts
  packages/svelte-meta-tags/tests/define/define.test.ts
Due: pnpm format, pnpm lint, pnpm check

rework, slightly simplify +layout.svelte in the example
  docs/src/content/docs/deep-merge-function/index.md
  docs/src/content/docs/ja/deep-merge-function/index.md
  docs/src/content/docs/ja/usage/index.mdx
  docs/src/content/docs/usage/index.mdx
  example/src/routes/+layout.svelte
  example/src/routes/+layout.ts
  example/src/routes/+page.ts
  example/src/routes/about/+page.ts
  packages/svelte-meta-tags/src/lib/define.ts
  packages/svelte-meta-tags/src/lib/types.d.ts
  packages/svelte-meta-tags/tests/define/define.test.ts
Due: pnpm format, pnpm lint, pnpm check

docs: matching the contents of Japanese and English documents
  docs/src/content/docs/ja/usage/index.mdx
Due: none

docs: clarify usage of defineBaseMetaTags and definePageMetaTags utilities
  docs/src/content/docs/ja/usage/index.mdx
Due: none

feat: introduce define helpers (#1737)
  .changeset/hip-spoons-stare.md
  docs/src/content/docs/deep-merge-function/index.md
  docs/src/content/docs/ja/deep-merge-function/index.md
  docs/src/content/docs/ja/usage/index.mdx
  docs/src/content/docs/usage/index.mdx
  example/src/routes/+layout.svelte
  example/src/routes/+layout.ts
  example/src/routes/+page.ts
  example/src/routes/about/+page.ts
  packages/svelte-meta-tags/src/lib/define.ts
  packages/svelte-meta-tags/src/lib/index.ts
  packages/svelte-meta-tags/tests/define/define.test.ts
Due: pnpm format, pnpm lint, pnpm check

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: pnpm format

chore: update import from 'vite' to 'vitest/config' in vite.config.ts
  packages/svelte-meta-tags/vite.config.ts
Due: pnpm format, pnpm lint, pnpm check

chore(deps): update node version to 24.11.1 in workflows and .npmrc
  .github/workflows/deploy-docs.yml
  .npmrc
Due: pnpm format

chore: update dependencies in pnpm-workspace.yaml
  .github/workflows/deploy-docs.yml
  .npmrc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm format

chore: update dependencies in pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm format

chore(deps): update Playwright to version 1.57.0
  .github/workflows/ci.yml
Due: pnpm format

docs: fix formatting of robots property description in meta tags documentation
  docs/src/content/docs/ja/meta-tags-properties/index.md
  docs/src/content/docs/meta-tags-properties/index.md
Due: pnpm format

chore(deps): update Node.js version to 24.11.1 in workflows and package configuration
  .github/workflows/deploy-docs.yml
  .npmrc
  package.json
Due: pnpm format

chore(deps): update Node.js version to 24.11.1 in pnpm-lock.yaml
  pnpm-lock.yaml
Due: pnpm format

chore(deps): downgrade Node.js version to 22.19.0 in workflows and configuration files
  .github/workflows/deploy-docs.yml
  package.json
  pnpm-lock.yaml
Due: pnpm format

chore(deps): update Playwright to version 1.58.0 in CI workflow
  .github/workflows/ci.yml
Due: pnpm format

chore(deps): update Playwright to version 1.58.1
  .github/workflows/ci.yml
Due: pnpm format

chore(deps): update Playwright to version 1.58.2
  .github/workflows/ci.yml
Due: pnpm format

Path conditions:
  pnpm format: any of: *.{js,ts,cjs,svelte,md,html,css,json,yml,yaml}
  pnpm lint: any of: *.{js,ts,svelte}
  pnpm check: any of: *.{js,ts,svelte}
