Repository oekazuma/svelte-meta-tags: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm lint, pnpm check

.lintstagedrc:

{
  "*.{js,ts,cjs,svelte,md,html,css,json,yml,yaml}": "pnpm format",
  "*.{js,ts,svelte}": ["pnpm lint", "pnpm check"]
}

docs: migrate sidebar autogenerate config to Starlight 0.39 API
  docs/astro.config.mjs
Due: none

chore: migrate config to pnpm v11 format
  .npmrc
  AGENTS.md
  package.json
  pnpm-workspace.yaml
Due: pnpm format

ci: read Node.js version from package.json devEngines
  .github/workflows/deploy-docs.yml
  .github/workflows/setup-node/action.yml
Due: pnpm format

ci: use pnpm ci for clean install in workflows
  .github/workflows/setup-node/action.yml
Due: pnpm format

chore(deps): update fast-uri to v3.1.2 and smol-toml to v1.6.1
  pnpm-lock.yaml
Due: pnpm format

chore: update minimumReleaseAge in pnpm-workspace.yaml and renovate.json
  pnpm-workspace.yaml
  renovate.json
Due: pnpm format

chore: pin pnpm to 11.0.3 to work around ERR_PNPM_MISSING_TIME
  package.json
Due: pnpm format

ci: replace pnpm ci with install --frozen-lockfile
  .github/workflows/setup-node/action.yml
Due: pnpm format

chore: update minimumReleaseAge in pnpm-workspace.yaml and renovate.json fix: change node runtime failure behavior to download in package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json
Due: pnpm format

chore: drop redundant engines config in favor of devEngines
  package.json
  pnpm-workspace.yaml
Due: pnpm format

chore: record packageManagerDependencies in lockfile and ignore .pnpm-store
  .gitignore
  pnpm-lock.yaml
Due: pnpm format

fix: drop devEngines.packageManager that broke npm in release CI
  package.json
  pnpm-lock.yaml
Due: pnpm format

docs: improve AGENTS.md accuracy and agent-facing context
  AGENTS.md
Due: pnpm format

fix: align schema-dts v2 across the workspace
  .changeset/update-schema-dts-v2.md
  pnpm-lock.yaml
  renovate.json
  tests/svelte-5/package.json
  tests/svelte-5/src/routes/searchActionType/+page.svelte
  tests/svelte-5/tests/searchActionType.test.ts
Due: pnpm format, pnpm lint, pnpm check

fix: address review feedback on searchActionType route and changeset
  .changeset/update-schema-dts-v2.md
  tests/svelte-5/src/routes/searchActionType/+page.svelte
Due: pnpm format, pnpm lint, pnpm check

chore: add npm bugs metadata to package.json
  packages/svelte-meta-tags/package.json
Due: pnpm format

docs: add missing bugs metadata
  packages/svelte-meta-tags/package.json
Due: pnpm format

fix: add homepage/bugs metadata
  package.json
  packages/svelte-meta-tags/package.json
Due: pnpm format

chore: add bugs URL to package.json metadata
  packages/svelte-meta-tags/package.json
Due: pnpm format

ci: restrict GITHUB_TOKEN to read-only (least privilege)
  .github/workflows/ci.yml
Due: pnpm format

test: use waitUntil domcontentloaded for e2e page.goto to fix webkit CI flakiness
  tests/svelte-5/tests/additionalRobots.test.ts
  tests/svelte-5/tests/another.test.ts
  tests/svelte-5/tests/article.test.ts
  tests/svelte-5/tests/book.test.ts
  tests/svelte-5/tests/jsonLdArray.test.ts
  tests/svelte-5/tests/jsonLdBody.test.ts
  tests/svelte-5/tests/jsonLdGraph.test.ts
  tests/svelte-5/tests/jsonLdHead.test.ts
  tests/svelte-5/tests/normal.test.ts
  tests/svelte-5/tests/openGraphImage.test.ts
  tests/svelte-5/tests/profile.test.ts
  tests/svelte-5/tests/robots.test.ts
  tests/svelte-5/tests/robotsAnother.test.ts
  tests/svelte-5/tests/robotsGooglebot.test.ts
  tests/svelte-5/tests/searchAction.test.ts
  tests/svelte-5/tests/searchActionType.test.ts
  tests/svelte-5/tests/twitter.test.ts
  tests/svelte-5/tests/twitterFallback.test.ts
  tests/svelte-5/tests/video.test.ts
  tests/svelte-5/tests/videoObjectType.test.ts
Due: pnpm format, pnpm lint, pnpm check

test: use waitUntil domcontentloaded for e2e page.goto to fix webkit CI flakiness (#2102)
  tests/svelte-5/tests/additionalRobots.test.ts
  tests/svelte-5/tests/another.test.ts
  tests/svelte-5/tests/article.test.ts
  tests/svelte-5/tests/book.test.ts
  tests/svelte-5/tests/jsonLdArray.test.ts
  tests/svelte-5/tests/jsonLdBody.test.ts
  tests/svelte-5/tests/jsonLdGraph.test.ts
  tests/svelte-5/tests/jsonLdHead.test.ts
  tests/svelte-5/tests/normal.test.ts
  tests/svelte-5/tests/openGraphImage.test.ts
  tests/svelte-5/tests/profile.test.ts
  tests/svelte-5/tests/robots.test.ts
  tests/svelte-5/tests/robotsAnother.test.ts
  tests/svelte-5/tests/robotsGooglebot.test.ts
  tests/svelte-5/tests/searchAction.test.ts
  tests/svelte-5/tests/searchActionType.test.ts
  tests/svelte-5/tests/twitter.test.ts
  tests/svelte-5/tests/twitterFallback.test.ts
  tests/svelte-5/tests/video.test.ts
  tests/svelte-5/tests/videoObjectType.test.ts
Due: pnpm format, pnpm lint, pnpm check

ci: use `node --run` instead of `pnpm` for running scripts
  .github/workflows/ci.yml
Due: pnpm format

chore: update node to 24.17.0
  package.json
  pnpm-lock.yaml
Due: pnpm format

chore: update node to 24.17.0 (#2105)
  package.json
  pnpm-lock.yaml
Due: pnpm format

refactor: remove redundant {#if} guards before #each loops
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
Due: pnpm format, pnpm lint, pnpm check

refactor: simplify titleTemplate evaluation logic
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
Due: pnpm format, pnpm lint, pnpm check

refactor: simplify video type checks with Array.includes()
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
Due: pnpm format, pnpm lint, pnpm check

refactor: use optional chaining
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
Due: pnpm format, pnpm lint, pnpm check

refactor: use declaration tags
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
Due: pnpm format, pnpm lint, pnpm check

revert
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
Due: pnpm format, pnpm lint, pnpm check

chore: add changeset
  .changeset/clean-metatags-conditionals.md
Due: pnpm format

fix(refactor): clean up `MetaTags.svelte` conditionals and each blocks (#2115)
  .changeset/clean-metatags-conditionals.md
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
Due: pnpm format, pnpm lint, pnpm check

fix: prevent httpEquiv prop from leaking onto additionalMetaTags meta element
  .changeset/fix-additional-meta-tags-httpequiv-leak.md
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
  tests/svelte-5/tests/another.test.ts
Due: pnpm format, pnpm lint, pnpm check

fix: prevent httpEquiv prop from leaking onto additionalMetaTags meta element (#2118)
  .changeset/fix-additional-meta-tags-httpequiv-leak.md
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
  tests/svelte-5/tests/another.test.ts
Due: pnpm format, pnpm lint, pnpm check

chore(deps): update astro to v7 and @astrojs/starlight to ^0.41.1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm format

chore(deps): update astro to v7 and @astrojs/starlight to ^0.41.1 (#2119)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm format

fix(docs): use SVG hero logo so it is not distorted under Astro 7
  docs/src/assets/dark-logo.webp
  docs/src/assets/light-logo.webp
  docs/src/content/docs/index.mdx
  docs/src/content/docs/ja/index.mdx
Due: none

fix(docs): use SVG hero logo so it is not distorted under Astro 7 (#2120)
  docs/src/assets/dark-logo.webp
  docs/src/assets/light-logo.webp
  docs/src/content/docs/index.mdx
  docs/src/content/docs/ja/index.mdx
Due: none
