Repository oekazuma/svelte-meta-tags: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm lint, pnpm check

.lintstagedrc:

{
  "*.{js,ts,cjs,svelte,md,html,css,json,yml,yaml}": "pnpm format",
  "*.{js,ts,svelte}": ["pnpm lint", "pnpm check"]
}

chore: update devDepencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm format

chore: add svelte agent skills for code writing and best practices
  .agents/skills/svelte-code-writer/SKILL.md
  .agents/skills/svelte-core-bestpractices/SKILL.md
  .agents/skills/svelte-core-bestpractices/references/$inspect.md
  .agents/skills/svelte-core-bestpractices/references/@attach.md
  .agents/skills/svelte-core-bestpractices/references/@render.md
  .agents/skills/svelte-core-bestpractices/references/await-expressions.md
  .agents/skills/svelte-core-bestpractices/references/bind.md
  .agents/skills/svelte-core-bestpractices/references/each.md
  .agents/skills/svelte-core-bestpractices/references/hydratable.md
  .agents/skills/svelte-core-bestpractices/references/snippet.md
  .agents/skills/svelte-core-bestpractices/references/svelte-reactivity.md
  .claude/skills/svelte-code-writer
  .claude/skills/svelte-core-bestpractices
  skills-lock.json
Due: pnpm format

style: format code for consistency in Svelte best practices documentation
  .agents/skills/svelte-core-bestpractices/SKILL.md
  .agents/skills/svelte-core-bestpractices/references/$inspect.md
  .agents/skills/svelte-core-bestpractices/references/@attach.md
  .agents/skills/svelte-core-bestpractices/references/@render.md
  .agents/skills/svelte-core-bestpractices/references/await-expressions.md
  .agents/skills/svelte-core-bestpractices/references/each.md
  .agents/skills/svelte-core-bestpractices/references/hydratable.md
  .agents/skills/svelte-core-bestpractices/references/snippet.md
  .agents/skills/svelte-core-bestpractices/references/svelte-reactivity.md
Due: pnpm format

chore(deps): update @astrojs/starlight to v0.38.1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm format

chore: update vite and vitest dependencies to latest versions
  .prettierignore
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm format

chore(deps): update Node.js version to 24.14.0 in workflows and package files
  .github/workflows/deploy-docs.yml
  package.json
  pnpm-lock.yaml
Due: pnpm format

chore: update README.md
  README.md
Due: pnpm format

Update image link in README.md
  README.md
Due: pnpm format

chore: update astro dependency from ^6.0.5 to ^6.0.8 in pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm format

chore: update Node.js version to 24.14.0 in .npmrc and remove legacy runtime references
  .npmrc
  package.json
  pnpm-lock.yaml
Due: pnpm format

chore: add changeset
  .changeset/add-recommendation-section.md
Due: pnpm format

chore: remove NPM_TOKEN from release workflow environment
  .github/workflows/release.yml
Due: pnpm format

chore(deps): update node version to 24.14.1 in workflow and .npmrc
  .github/workflows/deploy-docs.yml
  .npmrc
Due: pnpm format

fix: resolve state_referenced_locally warning in MetaTags
  .changeset/fix-robots-params-derived.md
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
Due: pnpm format, pnpm lint, pnpm check

fix: resolve state_referenced_locally warning in MetaTags (#1960)
  .changeset/fix-robots-params-derived.md
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
Due: pnpm format, pnpm lint, pnpm check

chore: add step to install latest npm in release workflow
  .github/workflows/release.yml
Due: pnpm format

fix: update Node.js setup in release workflow
  .github/workflows/release.yml
Due: pnpm format

fix: specify Node.js version directly in release workflow
  .github/workflows/release.yml
Due: pnpm format

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: pnpm format

chore(deps): update Playwright to version 1.59.1
  .github/workflows/ci.yml
Due: pnpm format

feat: add automatic fallback for Twitter metadata (#1971)
  .changeset/twitter-metadata-fallback.md
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
  tests/svelte-5/src/routes/twitterFallback/+page.svelte
  tests/svelte-5/src/routes/twitterFallbackExplicit/+page.svelte
  tests/svelte-5/src/routes/twitterFallbackMixed/+page.svelte
  tests/svelte-5/src/routes/twitterFallbackTemplate/+page.svelte
  tests/svelte-5/src/routes/twitterFallbackTitle/+page.svelte
  tests/svelte-5/tests/twitterFallback.test.ts
Due: pnpm format, pnpm lint, pnpm check

docs: add Twitter metadata fallback behavior documentation
  docs/src/content/docs/ja/meta-tags-properties/twitter.md
  docs/src/content/docs/meta-tags-properties/twitter.md
Due: pnpm format

docs: clarify twitter prop key names in fallback description
  docs/src/content/docs/ja/meta-tags-properties/twitter.md
  docs/src/content/docs/meta-tags-properties/twitter.md
Due: pnpm format

feat: add automatic fallback for Twitter metadata (#1971) (#1975)
  .changeset/twitter-metadata-fallback.md
  docs/src/content/docs/ja/meta-tags-properties/twitter.md
  docs/src/content/docs/meta-tags-properties/twitter.md
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
  tests/svelte-5/src/routes/twitterFallback/+page.svelte
  tests/svelte-5/src/routes/twitterFallbackExplicit/+page.svelte
  tests/svelte-5/src/routes/twitterFallbackMixed/+page.svelte
  tests/svelte-5/src/routes/twitterFallbackTemplate/+page.svelte
  tests/svelte-5/src/routes/twitterFallbackTitle/+page.svelte
  tests/svelte-5/tests/twitterFallback.test.ts
Due: pnpm format, pnpm lint, pnpm check

chore: remove minimumReleaseAgeExclude for vite@8.0.5
  pnpm-workspace.yaml
Due: pnpm format

docs: add remote functions usage example (#1974)
  docs/src/content/docs/ja/usage/index.mdx
  docs/src/content/docs/usage/index.mdx
Due: none

docs: simplify remote functions example
  docs/src/content/docs/ja/usage/index.mdx
  docs/src/content/docs/usage/index.mdx
Due: none

docs: add remote functions usage example (#1978)
  docs/src/content/docs/ja/usage/index.mdx
  docs/src/content/docs/usage/index.mdx
Due: none

chore(deps): update node version to v24.15.0 in workflows and .npmrc
  .github/workflows/deploy-docs.yml
  .npmrc
Due: pnpm format

feat: add openGraph.image alias for single image use case (#2019)
  .changeset/og-image-alias.md
  docs/src/content/docs/ja/open-graph/basic.md
  docs/src/content/docs/ja/types/open-graph.md
  docs/src/content/docs/open-graph/basic.md
  docs/src/content/docs/types/open-graph.md
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
  packages/svelte-meta-tags/src/lib/types.d.ts
  tests/svelte-5/src/routes/openGraphImage/+page.svelte
  tests/svelte-5/tests/openGraphImage.test.ts
Due: pnpm format, pnpm lint, pnpm check

docs: fix heading level for single-image shortcut section
  docs/src/content/docs/ja/open-graph/basic.md
  docs/src/content/docs/open-graph/basic.md
Due: pnpm format

feat: add openGraph.image alias for single image use case (#2024)
  .changeset/og-image-alias.md
  docs/src/content/docs/ja/open-graph/basic.md
  docs/src/content/docs/ja/types/open-graph.md
  docs/src/content/docs/open-graph/basic.md
  docs/src/content/docs/types/open-graph.md
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
  packages/svelte-meta-tags/src/lib/types.d.ts
  tests/svelte-5/src/routes/openGraphImage/+page.svelte
  tests/svelte-5/tests/openGraphImage.test.ts
Due: pnpm format, pnpm lint, pnpm check

ci: parallelize jobs and unify tool versions across workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  .github/workflows/setup-node/action.yml
  .github/workflows/setup-playwright/action.yml
Due: pnpm format

ci: align with reference workflow on cancel-in-progress and paths-ignore
  .github/workflows/ci.yml
Due: pnpm format

ci: fail fast when version extraction yields empty values
  .github/workflows/deploy-docs.yml
  .github/workflows/setup-node/action.yml
Due: pnpm format

ci: install playwright system deps even on browser cache hit
  .github/workflows/setup-playwright/action.yml
Due: pnpm format

ci: parallelize jobs and unify tool versions across workflows (#2026)
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  .github/workflows/setup-node/action.yml
  .github/workflows/setup-playwright/action.yml
Due: pnpm format

docs: add AGENTS.md and CLAUDE.md to guide coding agents
  AGENTS.md
  CLAUDE.md
Due: pnpm format

docs: format AGENTS.md with prettier
  AGENTS.md
Due: pnpm format
