Repository oekazuma/svelte-meta-tags: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm lint, pnpm check

.lintstagedrc:

{
  "*.{js,ts,cjs,svelte,md,html,css,json,yml,yaml}": "pnpm format",
  "*.{js,ts,svelte}": ["pnpm lint", "pnpm check"]
}

chore: add migration guide
  README.md
Due: pnpm format

`{#key}`, which was used for reactivity, is no longer necessary and has been removed
  .changeset/tasty-points-run.md
  packages/svelte-meta-tags/src/lib/JsonLd.svelte
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
Due: pnpm format, pnpm lint, pnpm check

fix
  .changeset/tasty-points-run.md
Due: pnpm format

Remove `{#key}` that was used reactivity as it is no longer necessary. (#1204)
  .changeset/tasty-points-run.md
  packages/svelte-meta-tags/src/lib/JsonLd.svelte
  packages/svelte-meta-tags/src/lib/MetaTags.svelte
Due: pnpm format, pnpm lint, pnpm check

Update FUNDING.yml
  .github/FUNDING.yml
Due: pnpm format

Update FUNDING.yml (#1206)
  .github/FUNDING.yml
Due: pnpm format

chore: Refactor deepMerge function to improve readability and maintainability
  packages/svelte-meta-tags/src/lib/deepMerge.ts
  packages/svelte-meta-tags/tests/deepMerge/deepMerge.test.ts
Due: pnpm format, pnpm lint, pnpm check

add changeset
  .changeset/mean-impalas-worry.md
Due: pnpm format

fix
  packages/svelte-meta-tags/src/lib/deepMerge.ts
Due: pnpm format, pnpm lint, pnpm check

chore: Refactor deepMerge function to improve readability and maintainability (#1207)
  .changeset/mean-impalas-worry.md
  packages/svelte-meta-tags/src/lib/deepMerge.ts
  packages/svelte-meta-tags/tests/deepMerge/deepMerge.test.ts
Due: pnpm format, pnpm lint, pnpm check

chore: Add benchmark tests for deepMerge function
  packages/svelte-meta-tags/package.json
  packages/svelte-meta-tags/tests/deepMerge/deepMerge.bench.ts
  packages/svelte-meta-tags/vite.config.ts
Due: pnpm format, pnpm lint, pnpm check

Refactor deepMerge function to fix type issue
  .changeset/orange-houses-fly.md
  packages/svelte-meta-tags/src/lib/deepMerge.ts
Due: pnpm format, pnpm lint, pnpm check

Refactored deepMerge function to improve performance
  .changeset/late-coins-beam.md
  packages/svelte-meta-tags/src/lib/deepMerge.ts
Due: pnpm format, pnpm lint, pnpm check

fmt
  packages/svelte-meta-tags/src/lib/deepMerge.ts
Due: pnpm format, pnpm lint, pnpm check

fix ci
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: pnpm format

Refactored deepMerge function to improve performance (#1211)
  .changeset/late-coins-beam.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  packages/svelte-meta-tags/src/lib/deepMerge.ts
Due: pnpm format, pnpm lint, pnpm check

chore: update Node.js
  .npmrc
Due: none

chore: add example and sites directories to pnpm workspace
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm format

chore: update devDependencies
  .github/workflows/ci.yml
  pnpm-lock.yaml
  tests/svelte-5/package.json
Due: pnpm format

chore: update devDependencies
  example/package.json
  packages/svelte-meta-tags/package.json
  pnpm-lock.yaml
  tests/svelte-5/package.json
Due: pnpm format

fix
  packages/svelte-meta-tags/vite.config.ts
Due: pnpm format, pnpm lint, pnpm check

fix
  pnpm-lock.yaml
  sites/astro.config.mjs
  sites/package.json
  sites/src/content/docs/installing/index.mdx
  sites/src/content/docs/json-ld/index.md
  sites/src/content/docs/json-ld/using-schema-dts.md
  sites/src/content/docs/meta-tags-properties/additional-link-tags.md
  sites/src/content/docs/meta-tags-properties/additional-meta-tags.md
  sites/src/content/docs/meta-tags-properties/additional-robots-props.md
  sites/src/content/docs/meta-tags-properties/alternate.md
  sites/src/content/docs/meta-tags-properties/facebook.md
  sites/src/content/docs/meta-tags-properties/index.md
  sites/src/content/docs/meta-tags-properties/title-template.md
  sites/src/content/docs/meta-tags-properties/twitter.md
  sites/src/content/docs/open-graph/article.md
  sites/src/content/docs/open-graph/basic.md
  sites/src/content/docs/open-graph/book.md
  sites/src/content/docs/open-graph/index.md
  sites/src/content/docs/open-graph/profile.md
  sites/src/content/docs/open-graph/video.md
  sites/src/content/docs/types/additional-robots-props.md
  sites/src/content/docs/types/additional-types/index.md
  sites/src/content/docs/types/facebook.md
  sites/src/content/docs/types/index.md
  sites/src/content/docs/types/json-ld-props.md
  sites/src/content/docs/types/language-alternate.md
  sites/src/content/docs/types/link-tag.md
  sites/src/content/docs/types/meta-tag.md
  sites/src/content/docs/types/meta-tags-props.md
  sites/src/content/docs/types/mobile-alternate.md
  sites/src/content/docs/types/open-graph.md
  sites/src/content/docs/types/twitter.md
Due: pnpm format

fix
  pnpm-lock.yaml
Due: pnpm format

fix
  docs/src/env.d.ts
  eslint.config.js
  packages/svelte-meta-tags/package.json
  pnpm-lock.yaml
Due: pnpm format, pnpm lint, pnpm check

fix
  README.md
  example/src/routes/+layout.svelte
Due: pnpm format, pnpm lint, pnpm check

fix
  docs/src/assets/logo.webp
  docs/src/content/docs/deep-merge-function/index.md
  docs/src/content/docs/index.md
  docs/src/content/docs/ja/deep-merge-function/index.md
  docs/src/content/docs/ja/index.md
  docs/src/content/docs/ja/migration-guide/index.md
  docs/src/content/docs/ja/usage/index.mdx
  docs/src/content/docs/migration-guide/index.md
  docs/src/content/docs/usage/index.mdx
Due: pnpm format

GitHub Actions: Refactor deploy workflow to separate build and deploy jobs
  .github/workflows/deploy-docs.yml
Due: pnpm format

GitHub Actions: Update package manager to pnpm@9.15.0 in deploy workflow
  .github/workflows/deploy-docs.yml
Due: pnpm format

chore: update astro v5
  docs/package.json
  pnpm-lock.yaml
Due: pnpm format

feat: update site and base configuration in astro.config.mjs
  docs/astro.config.mjs
Due: none

fix: update links in documentation to reflect new base path
  docs/astro.config.mjs
  docs/src/content/docs/index.md
  docs/src/content/docs/ja/index.md
  docs/src/content/docs/ja/open-graph/index.md
  docs/src/content/docs/open-graph/index.md
Due: pnpm format

fix: update dependencies for svelte, svelte-check, playwright, and vite
  .github/workflows/ci.yml
  example/package.json
  package.json
  packages/svelte-meta-tags/package.json
  pnpm-lock.yaml
  tests/svelte-5/package.json
Due: pnpm format

docs: update README
  README.md
Due: pnpm format

docs: update paths in CONTRIBUTING.md for clarity
  CONTRIBUTING.md
  package.json
Due: pnpm format
